*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#ddd;
}


main{
    width: 100%;
	height: 0px auto;
	background-image: url("imagenes/fondo11.jpeg");
	border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
    text-align: center;
    line-height: 30px;
    padding-top: 40px;
    padding-block-end: 30px;
}
#contenedor{
    width: 1200px;
    margin: 0px auto;

    margin-top: 40px;
}

header nav{
    text-align: center;
    background-color: silver;
}

header nav ul li{
    display: inline-block;
    padding: 10px;
}

header nav ul li a{
    text-decoration: none;
    font-family: fantasy;
    font-size: 20px;
    color: black;
}

header nav ul li a:hover{
    color: white;
}

h4{
    color: black;
    text-align: center;
    font-style: oblique bold;
    font-size: 15px;
    margin-top: 0px;
    

}

#divimagen{
width: 0px auto;
height: 0px auto;
padding: 50px;
margin-top: 0px;
margin: 0px;
background-color: transparent;

display: inline-block;
} 

section{
    width: 414px;
    height: 620px;
    background-color: white;
    float: left;
    background-image: url(imagenes/fondoimage.jpg) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
}


aside{
    width: 367px;
    height: 620px;
    background-image: url(imagenes/fondotexto.jpg);
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    
}
aside div img{
	width: 300px;
	height: 200px;
	margin-left: 30px;
}
h3{
    text-align: justify;
    padding: 10px;
    padding-top: 10px;
}
p{
    text-align: justify;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}


main h1{
	color: white;

}

footer{
    clear: both;
    width: 1200px;
    height: 50px;
    background-color: white;
    text-align: center;
    color: black;
    line-height: 50px;
    border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
    font-style: italic;
}
